nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  margin-top: 1rem;
  width: 100%;
}

.menu-toggle {
  display: none;
}

.hamburger-menu {
  display: none;
  position: absolute;
  left: 1rem;
  cursor: pointer;
}

.hamburger-menu img {
  width: 24px;
  height: 24px;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 100%;
  left: 1rem;
  padding: 1rem;
  z-index: 10;
}

.menu-toggle:checked + .dropdown-menu {
  display: flex;
}

.title {
  position: absolute;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 1rem;
}

.menu p {
  cursor: pointer;
}

.menu button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background-color: var(--color-blue);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .menu-toggle {
    display: none;
  }

  .dropdown-menu {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .hamburger-menu {
    display: flex;
    justify-content: flex-start;
  }

  .menu {
    display: none;
  }

  .menu button {
    display: block;
    margin-left: auto;
  }

  .hamburger-menu {
    display: flex;
  }
}

@media (max-width: 720px) {
  .title {
    font-size: 1rem;
  }

  .menu {
    gap: 0.5rem;
  }

  .menu p {
    font-size: 0.8rem;
  }

  .menu button {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 0.8rem;
  }

  .menu p {
    font-size: 0.7rem;
  }

  .menu button {
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
  }
}
