nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  margin-top: 1rem;
  width: 100%;
  height: 70px;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  z-index: 1;
}

.menu-toggle {
  display: none;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.close-icon {
  display: none;
  width: 24px;
  height: 24px;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: white;
  z-index: 10;
  overflow-y: auto;
}

.dropdown-menu .close-icon {
  display: flex;
  margin-bottom: 1rem;
  cursor: pointer;
}

.dropdown-menu .close-icon img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.dropdown-menu a {
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 20px;
  padding: 10px;
}

.dropdown-menu a:nth-last-child(-n + 3) {
  padding: 5px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.menu-toggle:checked ~ .dropdown-menu {
  display: flex;
}

.menu-toggle:checked + .hamburger-menu .hamburger-icon {
  display: none;
}

.menu-toggle:checked + .hamburger-menu .close-icon {
  display: block;
}

.title {
  position: absolute;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  flex-direction: column;
  text-align: center;
}

.hamburger-menu-title {
  background-color: var(--color-white);
}

.hamburger-menu-title h6,
.hamburger-menu-title h1 {
  background-color: var(--color-white);
  color: var(--color-black);
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 1rem;
}

.menu button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background-color: var(--color-blue);
  border: none;
  border-radius: 2px;
}

.menu button a {
  text-decoration: none;
  background-color: var(--color-blue);
}

a.nav-link {
  cursor: pointer;
  text-decoration: none;
}

a.nav-link:hover {
  text-decoration: underline;
}

.nav-link a {
  cursor: pointer;
  text-decoration: none;
}

.nav-link a:hover {
  text-decoration: underline;
}

@media (min-width: 1025px) {
  .menu-toggle {
    display: none;
  }

  .dropdown-menu {
    display: none !important;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hamburger-menu {
    display: flex;
  }
  .menu {
    display: none;
  }
}

@media (max-width: 720px) {
  .title {
    font-size: 0.8rem;
  }
}
